.signit-popup .oo-ui-popupWidget-popup {
	max-height: 500px;
}

.signit-popup h1 {
	margin-bottom: 0.6em;
	font-size: 188%;
	color: black;
	padding-top: 0.5em;
	padding-bottom: 0.17em;
	border-bottom: 1px solid #a2a9b1;
}

.signit-popup-content {
	display: flex;
	flex: 1;
	align-items: center;
}

.signit-popup-separator {
	flex: 0 0 1px;
	margin: 25px 10px;
	background: #a2a9b1;
	align-self: stretch;
}

.signit-popup-leftpanel, .signit-popup-rightpanel {
	flex: 0 1 auto;
	width: 50%;
}

.signit-popup-leftpanel-video {
	display: flex;
	align-items: center;
}

.signit-popup-anchor {
	position: absolute;
}

.signit-popup-rightpanel {
	overflow-y: auto;
	max-height: 360px;
	text-align: left;
}

.signit-popup-rightpanel ol ul {
	display: none;
}

.signit-popup-rightpanel .reference {
	display: none;
}
