/* *************************************************************** */
/* Modal structure *********************************************** */
.signit-modal-anchor {
  position: absolute;
  z-index: -99999; /* put it under everything else so it doesn't disturb anything */
}

/* *************************************************************** */
/* Popup outline ************************************************* */
.signit-modal {
  z-index: 9999;
} /* above everythings */

.signit-modal .oo-ui-popupWidget-popup {
  max-height: 500px;
}

.signit-modal .oo-ui-popupWidget-body {
  margin: 0;
}

/* *************************************************************** */
/* Popup content ************************************************* */
.signit-modal h1 {
  margin-bottom: 0.6em;
  font-size: 188%;
  color: black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #a2a9b1;
  text-align: center;
  background-color: #00a99d;
  color: white;
  box-shadow: 0 0px 5px -2px black;
}

.signit-modal h2 {
  display: none;
}

.signit-modal-content {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0 0.85714286em 0.57142857em;
}

.signit-modal-content > .signit-panel-separator {
  flex: 0 0 1px;
  margin: 25px 10px;
  background: #a2a9b1;
  align-self: stretch;
}

.signit-modal-content > .signit-panel-videos,
.signit-modal-content > .signit-panel-definitions {
  flex: 0 1 auto;
  width: 400px;
}

/* *************************************************************** */
/* Video gallery panel (left or top) ***************************** */
.signit-panel-videos {
  text-align: center;
}

.signit-video {
  display: flex;
  align-items: center;
}

.signit-video iframe {
  box-shadow: 0 0 0.5rem #999;
  width: 100%;
}

/* MODAL > TEST Toggle video button : REMOVED */
/*
#video_toggle {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
}

#video_toggle::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

#video_toggle.active::before {
  transform: translateX(20px);
}
*/

/* *************************************************************** */
/* Definition panel (right/bottom) ******************************* */
.signit-definitions-text {
  overflow-y: auto;
  max-height: 340px;
  text-align: left;
}

.signit-definitions-text p,
.signit-definitions-text b,
.signit-definitions-text span,
.signit-definitions-text i,
.signit-definitions-text a,
.signit-definitions-text ol,
.signit-definitions-text li {
  all: initial;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.42857143em;
  color: #222222;
}

.signit-definitions-text p {
  margin: 0.4em 0 0.5em 0;
  padding: 0;
  display: block;
}

.signit-definitions-text ol {
  list-style-type: decimal;
  margin: 0.3em 0 0 3.2em;
  display: block;
}

.signit-definitions-text ol li {
  display: list-item;
  list-style-type: decimal;
  margin-bottom: 0.8em;
}

.signit-definitions-text i {
  font-style: italic;
}

.signit-definitions-text b {
  font-weight: bold;
}

.signit-definitions-text a {
  color: #0645ad;
}

.signit-definitions-text a:hover {
  text-decoration: underline;
}

.signit-definitions-text ol ul {
  display: none;
}

.signit-definitions-text .reference {
  display: none;
}

.signit-definitions-source {
  height: 20px;
  text-align: right;
  margin-top: 4px;
  width: 100%;
  font-style: italic;
}

/* *************************************************************** */
/* Loading ******************************************************* */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.signit-loading {
  text-align: center;
  color: black;
}

.signit-loading-spinner {
  animation: spinner 1.5s linear infinite;
  width: 40px;
  margin: auto;
}

/* *************************************************************** */
/* Icons ********************************************************* */
oo-ui-icon-next {
	background-image: url( '../icons/arrow-right-solid.svg' );
}

.oo-ui-icon-previous {
	background-image: url( '../icons/arrow-left-solid.svg' );
}

.oo-ui-icon-search {
	background-image: url( '../icons/magnifying-glass-solid.svg' );
}

/* *************************************************************** */
/* Hint icon ***************************************************** */
.signit-hint-container {
  /* border:1px solid #00a99d;  #00a99d: logo green*/
  background: #fff; /*#484848 : logo grey */
  height: 32px !important;
  width: 32px !important;
  border-radius: 3px;
  cursor: pointer;
  z-index: 1000;
}
.signit-hint-icon {
  background-image: url("../icons/Lingualibre_SignIt-logo-no-text.svg");
  background-size: cover;
  opacity: 0.5;
}
.signit-hint-icon:hover {
  opacity: 1;
}
/* *************************************************************** */
/* Hint icon ***************************************************** */
si.signit-colored {
  background-color: #ffff0055;
}
