.signit-inline-container {
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
	max-width: 300px;
}

.signit-inline-container video {
	box-shadow: 0 0 .5rem #999;
}

.oo-ui-icon-next {
	background-image: url('../icons/arrow-right-solid.svg' )}

.oo-ui-icon-previous {
	background-image: url('../icons/arrow-left-solid.svg' )}

.oo-ui-icon-search {
	background-image: url('../icons/magnifying-glass-solid.svg' )}
