/* ****************************************************** */
/* VIDEO PANEL'S IFRAME ********************************* */
/* Copied from popup.css ******************************** */
.signit-panel-videos {
    position:relative;
    text-align: center;
}
.signit-panel-videos-gallery{
    width: 100%;
}
.signit-panel-videos-gallery iframe,
.signit-gallery-videos iframe {
    box-shadow: 0 0 0.5rem #999;
    width: 100%;
    aspect-ratio: 16 / 12;
    border: 0;       /* no border */
    overflow:hidden; /* no scroll */
}
.signit-gallery-videos-buttons {
    position : absolute;
    top:40%;
    transform : translate(-50%);
    background-color: #FFFFFF66;/* Customize the background color */       
    border: none;               /* Remove the border */
    border-radius: 5px;         /* Rounded corners */
    cursor: pointer;            /* Pointer cursor on hover */
    z-index:1;
}
.signit-gallery-videos-prev {
	left : 10%;
}
.signit-gallery-videos-next {
	left : 90%;
}

/* Is this below needed ? ******** */
.signit-inline-container {
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
	max-width: 300px;
}

.signit-inline-container iframe {
	box-shadow: 0 0 .5rem #999;
}
/* Is this above needed ? ******** */

.oo-ui-icon-nextBtn,
.oo-ui-icon-previousBtn {
	padding-top: 5px;
}
.oo-ui-icon-nextBtn::after {
	content: "\25B6";
}

.oo-ui-icon-previousBtn::after {
	content: "\25C0";
}

.oo-ui-icon-search {
	background-image: url('../icons/magnifying-glass-solid.svg' )
}
