.signit-inline-container {
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
	max-width: 300px;
}

.signit-inline-container video {
	box-shadow: 0 0 .5rem #999;
}

.oo-ui-icon-nextBtn , .oo-ui-icon-previousBtn{
	padding-top: 5px;
}
.oo-ui-icon-nextBtn::after {
	content: "\25B6";
}

.oo-ui-icon-previousBtn::after {
	content: "\25C0";
}

.oo-ui-icon-search {
	background-image: url('../icons/magnifying-glass-solid.svg' )
}
