html, body {
  width: 420px;
  min-height: 400px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: auto;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

#popup-header {
	width: 100%;
	height: 100px;
	background-color: #00a99d;
	background-origin: content-box;
	padding: 8px 0;
	text-align: center;
}

#popup-header a img {
	height: 100%;
}

#popup-loading {
	width: 100%;
	text-align: center;
	color: black;
}

#popup-loading-spinner {
	animation: spinner 1.5s linear infinite;
	width:40px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: auto;
}

#popup-loaded {
	display:none; /* hidden by default, will be shown when it's ready to be shown */
}

.popup-tabs,
.popup-tabs .oo-ui-menuLayout-menu,
.popup-tabs .oo-ui-menuLayout-content {
	position: unset;
}

.popup-tabs .oo-ui-tabSelectWidget {
	background-color: #00a99d;
}

.popup-tabs .oo-ui-tabOptionWidget, .popup-tabs .oo-ui-tabOptionWidget:hover {
	color: white;
}
.popup-tabs .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected {
	color: #00a99d;
}

.popup-tabs .oo-ui-panelLayout-expanded {
	position: static;
	padding-left: 0;
	padding-right: 0;
}

.popup-tab-param,
.popup-tab-view-search {
	margin: 0 6px 10px 6px;
    padding-right: 10px;
	overflow-x: hidden;
}

.popup-historyline {
    padding: 8px 20px;
    color: #00a99d;
    font-weight: bold;
	display: block;
	cursor: pointer;
}

.popup-historyline:hover {
    background-color: #00a99d;
    color: white;
}












/*  */
.signit-wtdef p,
.signit-wtdef b,
.signit-wtdef span,
.signit-wtdef i,
.signit-wtdef a,
.signit-wtdef ol,
.signit-wtdef li {
	all: initial;
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.42857143em;
	color: #222222;
}

.signit-wtdef p {
	margin: 0.4em 0 0.5em 0;
	padding: 0;
	display: block;
}

.signit-wtdef ol {
	list-style-type: decimal;
	margin: 0.3em 0 0 3.2em;
	display: block;
}

.signit-wtdef ol li {
	display: list-item;
	list-style-type: decimal;
	margin-bottom: 0.8em;
}

.signit-wtdef i {
	font-style: italic;
}

.signit-wtdef b {
	font-weight: bold;
}

.signit-wtdef a {
	color: #0645ad;
}

.signit-wtdef a:hover {
	text-decoration: underline;
}

.signit-wtdef ol ul {
	display: none;
}

.signit-wtdef .reference {
	display: none;
}







.signit-popup-container h1 {
	display: none;
}

.signit-popup-container h2 {
	background-color: #00a99d;
	padding: 5px 6px;
	font-size: 1em;
	font-weight: bold;
	color: white;
	margin-top: 20px;
}

.signit-popup-separator {
	display:none;
}

.signit-popup-leftpanel {
	text-align: center;
}

.signit-popup-leftpanel-video {
	display: flex;
	align-items: center;
}

.signit-popup-leftpanel-video video {
	box-shadow: 0 0 .5rem #999;
	width: 345px;
}

.signit-wt {
	padding-right: 12px;
	padding-left: 6px;
}

.signit-wtdef {
	padding-right: 8px;
}

.signit-wtsource {
	height: 20px;
	text-align: right;
	margin-top: 4px;
	width: 100%;
	font-style: italic;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.popup-loading {
	text-align: center;
	color: black;
}

.popup-loading-spinner {
	animation: spinner 1.5s linear infinite;
	width:40px;
	margin: auto;
}

.oo-ui-icon-next {
	background-image: url( 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KCTx0aXRsZT4KCQluZXh0Cgk8L3RpdGxlPgoJPHBhdGggZD0iTTcgMUw1LjYgMi41IDEzIDEwbC03LjQgNy41TDcgMTlsOS05eiIvPgo8L3N2Zz4K' );
}

.oo-ui-icon-previous {
	background-image: url( 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMjAgMjAiPjx0aXRsZT5wcmV2aW91czwvdGl0bGU+PHBhdGggZD0iTTQgMTBsOSA5IDEuNC0xLjVMNyAxMGw3LjQtNy41TDEzIDF6Ii8+PC9zdmc+' );
}

.oo-ui-icon-search {
	background-image: url( 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KCTx0aXRsZT4KCQlzZWFyY2gKCTwvdGl0bGU+Cgk8cGF0aCBkPSJNMTkgMTdsLTUuMTUtNS4xNWE3IDcgMCAxIDAtMiAyTDE3IDE5ek0zLjUgOEE0LjUgNC41IDAgMSAxIDggMTIuNSA0LjUgNC41IDAgMCAxIDMuNSA4eiIvPgo8L3N2Zz4K' );
}

.oo-ui-icon-subtract {
	background-image: url( 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMjAgMjAiPjx0aXRsZT5zdWJ0cmFjdDwvdGl0bGU+PHBhdGggZD0iTTQgOWgxMnYySDR6Ii8+PC9zdmc+' );

}

.oo-ui-icon-add {
	background-image: url( 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMjAgMjAiPjx0aXRsZT5hZGQ8L3RpdGxlPjxwYXRoIGQ9Ik0xMSA5VjRIOXY1SDR2Mmg1djVoMnYtNWg1Vjl6Ii8+PC9zdmc+' );

}

.oo-ui-indicator-down {
	background-image: url( 'data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgMTIgMTIiPjx0aXRsZT5kb3duPC90aXRsZT48cGF0aCBkPSJNMTAuMDg1IDIuOTQzTDYuMDUgNi44MDNsLTMuOTQ3LTMuODZMMS4wNSAzLjk5Nmw1IDUgNS01eiIvPjwvc3ZnPg==' );

}
