html, body {
  width: 420px;
  min-height: 400px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: auto;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

#signit-popup-header {
	width: 100%;
	height: 100px;
	background-color: #00a99d;
	background-origin: content-box;
	padding: 8px 0;
	text-align: center;
}

#signit-popup-header a img {
	height: 100%;
}

#signit-popup-loading {
	width: 100%;
	text-align: center;
	color: black;
}

#signit-popup-loading-spinner {
	animation: spinner 1.5s linear infinite;
	width:40px;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: auto;
}

#signit-popup-loaded {
	display:none; /* hidden by default, will be shown when it's ready to be shown */
}

.signit-popup-tabs,
.signit-popup-tabs .oo-ui-menuLayout-menu,
.signit-popup-tabs .oo-ui-menuLayout-content {
	position: unset;
}

.signit-popup-tabs .oo-ui-tabSelectWidget {
	background-color: #00a99d;
}

.signit-popup-tabs .oo-ui-tabOptionWidget, .signit-popup-tabs .oo-ui-tabOptionWidget:hover {
	color: white;
}
.signit-popup-tabs .oo-ui-tabOptionWidget.oo-ui-optionWidget-selected {
	color: #00a99d;
}

.signit-popup-tabs .oo-ui-panelLayout-expanded {
	position: static;
	padding-left: 0;
	padding-right: 0;
}

.signit-popup-tab-settings,
.signit-popup-tab-browse {
	margin: 0 6px 10px 6px;
    padding-right: 10px;
	overflow-x: hidden;
}

.signit-popup-tab-history-line {
    padding: 8px 20px;
    color: #00a99d;
    font-weight: bold;
	display: block;
	cursor: pointer;
}

.signit-popup-tab-history-line:hover {
    background-color: #00a99d;
    color: white;
}












/*  */
.signit-definitions-text p,
.signit-definitions-text b,
.signit-definitions-text span,
.signit-definitions-text i,
.signit-definitions-text a,
.signit-definitions-text ol,
.signit-definitions-text li {
	all: initial;
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.42857143em;
	color: #222222;
}

.signit-definitions-text p {
	margin: 0.4em 0 0.5em 0;
	padding: 0;
	display: block;
}

.signit-definitions-text ol {
	list-style-type: decimal;
	margin: 0.3em 0 0 3.2em;
	display: block;
}

.signit-definitions-text ol li {
	display: list-item;
	list-style-type: decimal;
	margin-bottom: 0.8em;
}

.signit-definitions-text i {
	font-style: italic;
}

.signit-definitions-text b {
	font-weight: bold;
}

.signit-definitions-text a {
	color: #0645ad;
}

.signit-definitions-text a:hover {
	text-decoration: underline;
}

.signit-definitions-text ol ul {
	display: none;
}

.signit-definitions-text .reference {
	display: none;
}







.signit-modal-container h1 {
	display: none;
}

.signit-modal-container h2 {
	background-color: #00a99d;
	padding: 5px 6px;
	font-size: 1em;
	font-weight: bold;
	color: white;
	margin-top: 20px;
}

.signit-panel-separator {
	display:none;
}

.signit-panel-videos {
	text-align: center;
}

.signit-video {
	display: flex;
	align-items: center;
}

.signit-video video {
	box-shadow: 0 0 .5rem #999;
	width: 345px;
}

.signit-definitions {
	padding-right: 12px;
	padding-left: 6px;
}

.signit-definitions-text {
	padding-right: 8px;
}

.signit-definitions-source {
	height: 20px;
	text-align: right;
	margin-top: 4px;
	width: 100%;
	font-style: italic;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.signit-loading {
	text-align: center;
	color: black;
}

.signit-loading-spinner {
	animation: spinner 1.5s linear infinite;
	width:40px;
	margin: auto;
}

.oo-ui-icon-next {
	background-image: url( '../icons/arrow-right-solid.svg' );
}

.oo-ui-icon-previous {
	background-image: url( '../icons/arrow-left-solid.svg' );
}

.oo-ui-icon-search {
	background-image: url( '../icons/magnifying-glass-solid.svg' );
}

.oo-ui-icon-subtract {
	background-image: url( '../icons/minus-solid.svg' );

}

.oo-ui-icon-add {
	background-image: url( '../icons/plus-solid.svg' );

}

.oo-ui-indicator-down {
	background-image: url( '../icons/down-long-solid.svg' );

}
